@import "navBar.css";
@import "section1.css";
@import "section2.css";
@import "section3.css";
@import "rodape.css";
@import "main.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.limitacao_conteudo{
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
  gap: 5rem;

}

.segundo_Titulo {
  color: var(--azul-para-texto);
  font-size: 2.5rem;
  margin-bottom: 0;
}



:root{
  --off-white: #fefefe;
  --cor-primaria: #eff6ff;
  --cor-secundaria:#fef9c2;
  --amarelo-queimado: #894b00;
  --azul-para-texto: #1c398e;
  --cinza-para-texto: #555555;
  --azul-claro: #2563eb;
  --azul-clarissimo: #b5dbf7;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.6;
  color: #333;
}


@media (max-width: 768px) {
  .barra_Navegacao {
    flex-direction: column;
    gap: 1rem;
  }
}
