main {
  display: flex;
  flex-direction: row;
  padding: 4rem 9rem;
  text-align: center;
  margin: 0 auto;
}

main h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

main p {
  margin-bottom: 2rem;
  color: #555;
}

main button {
  padding: 0.8rem 1.4rem;
  margin: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
main img {
  height: 400px;
  margin-left: 2rem;
  border-radius: 15px;
}
main ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  margin-top: 2rem;
}

main ul li {
  font-size: 1.4rem;
  font-weight: bold;
}


#botao1 {
  background-color: #0f172a;
  color: #fff;
}

#botao2 {
  background-color: #e5e7eb;
}
