.barra_Navegacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 9rem;
  background-color: #0f172a;
}

.barra_Navegacao img {
  height: 40px;
}

.barra_Navegacao ul {
  display: flex;

  gap: 1.5rem;
}

.barra_Navegacao a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.barra_Navegacao a:hover {
  text-decoration: underline;
}

#botao_NavBar {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #38bdf8;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}