.barra_Navegacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 9rem;
  background-color: var(--off-white);
}

.barra_Navegacao img {
  height: 40px;
}

.barra_Navegacao ul {
  display: flex;
  gap: 1.5rem;
  font-size: 1.25rem;
}

.barra_Navegacao a {
  text-decoration: none;
  color: var(--azul-para-texto);
  font-weight: 500;
}

.barra_Navegacao a:hover {
  text-decoration: underline;
}

#botao_NavBar {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 9999px;
  background-color: var(--azul-claro);
  color: var(--off-white);
  font-size: 1rem;
  cursor: pointer;
}