
#section3 {
  padding: 4rem 2rem;
  background-color: #f1f5f9;
}

#section3 h2 {
  text-align: center;
  margin-bottom: 2rem;
}

#section3 ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

#section3 li {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 6px;
  width: 220px;
  text-align: center;
}
#section3 img {
  height: 50px;
  margin-bottom: 1rem;
}
